<div class="container">

    <h1>View Post</h1>
    <a href="#" routerLink="/ticket/ticket-index" class="btn btn-primary">Back</a>
    <div>
        <strong>ID:</strong>
        <p>{{ ticket.id_Ticket }}</p>
    </div>

    <div>
        <strong>Tipo:</strong>
        <p>{{ ticket.Tipo }}</p>
    </div>

    <div>
        <strong>Detalle:</strong>
        <p>{{ ticket.Detalle }}</p>
    </div>

    <div>
        <strong>Fecha_Apertura</strong>
        <p>{{ ticket.Fecha_Apertura }}</p>
    </div>

    <div>
        <strong>Fecha_Cierre:</strong>
        <p>{{ ticket.Fecha_Cierre }}</p>
    </div>

    <div>
        <strong>Estado:</strong>
        <p>{{ ticket.Estado }}</p>
    </div>

    <div>
        <strong>Cliente_id_Cliente:</strong>
        <p>{{ ticket.Cliente_id_Cliente }}</p>
    </div>

    <div>
        <strong>Comentario:</strong>
        <p>{{ ticket.Comentario }}</p>
    </div>

    <div>
        <strong>Prioridad:</strong>
        <p>{{ ticket.Prioridad }}</p>
    </div>

   
</div>