<div class="container">

    <h1>View Post</h1>
    <a href="#" routerLink="/tecnico/tecnico-index" class="btn btn-primary">Back</a>
    <div>
        <strong>ID:</strong>
        <p>{{ tecnico.id_Tecnico }}</p>
    </div>

    <div>
        <strong>Rut:</strong>
        <p>{{ tecnico.Rut }}</p>
    </div>

    <div>
        <strong>Nombre:</strong>
        <p>{{ tecnico.Nombre }}</p>
    </div>

    <div>
        <strong>Email:</strong>
        <p>{{ tecnico.Email }}</p>
    </div>

    <div>
        <strong>Fecha_contrato:</strong>
        <p>{{ tecnico.Fecha_contrato }}</p>
    </div>

   
</div>